<!DOCTYPE html>     
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/home.css">    
    <link rel="stylesheet" href="/static/CSS/assentos.css">
    <title>Cinema</title>
</head>
<body>
    <header>
        <nav>
            <span id="nome">Cinema™</span>
            <ul>
                <a href="/catalogo" target="_self" class="link-navi"><li>PROGRAMAÇÃO</li></a>
                <a href="/home" target="_self" class="link-navi"><li>HOME</li></a>
                <a href="/quemsomos" target="_self" class="link-navi"><li>CONTATO</li></a>
                <a href=""><li id="vip">CINEMA VIP</li></a>
            </ul>
            <a href=""><img src="/static/Imagens/carrinho.png" alt="Carrinho" id="carrinho"></a>
        </nav>
    </header>
    <main>
        <section class="assento">
            <div class="top-screen">
                <img src="/static/Imagens/impperio contra ataca.jpg" alt="Filme Esquilo Contra Ataca" class="imagens-menor"></img>
                <div class="informacoes">
                    <span>Filme: Esquilo Contra Ataca</span>
                    <div class="imagens-aux">
                        <img src="/static/Imagens/localizacao.png" alt="Localização">
                        <span>Cinema Boulevard Shopping</span>
                    </div>
                    <div class="imagens-aux">
                        <img src="/static/Imagens/calendario.png" alt="Data"></img>
                        <span>20/04</span>
                    </div>
                    <div class="imagens-aux">
                        <img src="/static/Imagens/relogio.png" alt="Horário"></img>
                        <span>17h30</span>
                    </div>
                </div>
            </div>
            <div class="container">
                <h1>Escolha as cadeiras da sala</h1>
                <div class="screen">
                    <p>Tela do Cinema</p>
                </div>    
        
                <div class="row"></div>
            
                <button class="confirm-button" onclick="confirmSeats()">Confirmar</button>
            </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="rodape">
            <ul class="ul-rodape">
                <h3><li class="lider">Localização</li></h3>
                <li>Av. Olavo de Carvalho, 110</li>
                <li>Campinas, São Paulo</li>
                <li>CEP: 15780-860</li>
            </ul>

            <ul class="ul-rodape">
                <h3><li class="lider">Contato</li></h3>
                <li>Telefone: (14) 3030-4040</li>
                <li>Email: contato@cinema.com.br</li>
            </ul>
        </div>
        <div id="copy-rodape"><span>&copy;2024 Cinema. Todos os direitos reservados</span></div>
    </footer>
    <script src="/static/JS/assentos.js"></script>
</body>
</html>