<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/login.css"> 
    <title>Realizar Cadastro</title>
</head>
<body>
    <h1>Cadastrar Usuário</h1>
    <form id="cadastroForm" action="/criar_usuario/" method="POST">
        <label for="usuario">Usuário:</label>
        <input type="text" id="usuario" name="usuario" required>
        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" required>
        <button type="submit">Cadastrar</button>
    </form>
    <div id="mensagem"></div>
    <script src="/static/JS/cadastro.js"></script>
</body>
</html>