<!DOCTYPE html>     
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/home.css">    
    <link rel="stylesheet" href="/static/CSS/programacao.css">
    <title>Cinema</title>
</head>
<body>
    <header>
        <nav>
            <span id="nome">Cinema™</span>
            <ul>
                <a href="/catalogo"><li id="pagina-atual">PROGRAMAÇÃO</li></a>
                <a href="/home" target="_self" class="link-navi"><li>HOME</li></a>
                <a href="/quemsomos" target="_self" class="link-navi"><li>CONTATO</li></a>
                <a href=""><li id="vip">CINEMA VIP</li></a>
            </ul>
            <a href=""><img src="/static/Imagens/carrinho.png" alt="Carrinho" id="carrinho"></a>
        </nav>
    </header>
    <main>
        <section >
            <div class="catalogo-filmes">
                <h3>Filmes Em Cartaz</h3>
                <div class="cartaz">
                    <div>
                        <a href="" target="_self"><img src="/static/Imagens/scooby.png" class="imagens-tempo"></a>
                        <h4 class="titulo-filme">Acharam o Scooby</h4>
                    </div>
                    <div>
                        <a href="/cadeadora"><img src="/static/Imagens/cade a dora.jpg" class="imagens-tempo"></a>
                        <h4 class="titulo-filme">Onde está a Dora?</h4>
                    </div>
                    <div>
                        <a href=""><img src="/static/Imagens/imperio contra ataca.jpg" class="imagens-tempo"></a>
                        <h4 class="titulo-filme">O Squilo Matador</h4>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="rodape">
            <ul class="ul-rodape">
                <h3><li class="lider">Localização</li></h3>
                <li>Av. Olavo de Carvalho, 110</li>
                <li>Campinas, São Paulo</li>
                <li>CEP: 15780-860</li>
            </ul>

            <ul class="ul-rodape">
                <h3><li class="lider">Contato</li></h3>
                <li>Telefone: (14) 3030-4040</li>
                <li>Email: contato@cinema.com.br</li>
            </ul>
        </div>
        <div id="copy-rodape"><span>&copy;2024 Cinema. Todos os direitos reservados</span></div>
    </footer>
</body>
</html>