<!DOCTYPE html>     
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/home.css">    
    <title>Cinema</title>
</head>
<body>
    <header>
        <nav>
            <span id="nome">Cinema™</span>
            <ul>
                <a href="/catalogo" target="_self" class="link"><li>PROGRAMAÇÃO</li></a>
                <li id="pagina-atual">HOME</li>
                <a href="/quemsomos" target="_self" class="link"><li>CONTATO</li></a>
                <a href=""><li id="vip">CINEMA VIP</li></a>
            </ul>
            <a href=""><img src="/static/Imagens/carrinho.png" alt="Carrinho" id="carrinho"></a>
        </nav>
    </header>
    <main>
        <section>
            <div id="introducao">
                <strong>Sejam todos bem vindos! <br> Aqui vocês poderam visualizar sessões, filmes e horários disponiveis em nosso cinema. <br> Espero que tenham uma ótima experiência em nosso site!</strong>
                <img src="/static/Imagens/teste.jpg">
            </div>
        </section>
    </main>

    <footer>
        <div class="rodape">
            <ul class="ul-rodape">
                <h3><li class="lider">Localização</li></h3>
                <li>Av. Olavo de Carvalho, 110</li>
                <li>Campinas, São Paulo</li>
                <li>CEP: 15780-860</li>
            </ul>

            <ul class="ul-rodape">
                <h3><li class="lider">Contato</li></h3>
                <li>Telefone: (14) 3030-4040</li>
                <li>Email: contato@cinema.com.br</li>
            </ul>
        </div>
        <hr>
        <div class="rodape-copy">
            <div id="copy-rodape"><span>&copy;2024 Cinema. Todos os direitos reservados</span></div>
            <a href="/politica_priv" target="_self" class="rodape-2">POLÍTICA DE PRIVACIDADE</a>
            <a href="/termo_uso" target="_self" class="rodape-2">TERMO DE USO</a>
        </div>
    </footer>
</body>
</html>