<!DOCTYPE html>     
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/home.css">   
    <link rel="stylesheet" href="/static/CSS/politica_termo.css">  
    <title>Cinema</title>
</head>
<body>
    <header>
        <nav>
            <span id="nome">Cinema™</span>
            <ul>
                <a href="/catalogo" target="_self" class="link-navi"><li>PROGRAMAÇÃO</li></a>
                <a href="/home" target="_self" class="link-navi"><li>HOME</li></a>
                <a href="/quemsomos" target="_self" class="link-navi"><li>CONTATO</li></a>
                <a href="/cinemavip"><li id="vip">CINEMA VIP</li></a>
            </ul>
            <a href="Carrinho"><img src="/static/Imagens/carrinho.png" alt="Carrinho" id="carrinho"></a>
        </nav>
    </header>
    <main>
        <section>
            <h2>POLÍTICA DE PRIVACIDADE</h2>
            <span>Cinema LTDA (CINEMA)</span>
            <p>Versão 1.2. Atualizada em 14 de março de 2024</p>
            <p>Controlador: Cinemark Brasil S.A., com sede em São Paulo/SP, na Av. Doutor Chucri Zaidan, nº 920, 15º andar, CEP 04583-904, inscrita no CNPJ sob o nº 00.779.721/0001- 41 (“Cinemark”).</p>
            <p>Esta Política de Privacidade (“Política de Privacidade”) dispõe sobre a coleta, uso, processamento e compartilhamento de informações e sobre o Tratamento de Dados Pessoais realizado pela Cinemark, durante o acesso e a utilização do endereço eletrônico da Cinemark disponível em www.cinemark.com.br (“Site”), do Aplicativo Cinemark (“App”), dos Pontos de Venda da Cinemark (“PDV”) e do calendário anual de filmes que estarão em cartaz na Cinemark (“Calendário Cinemark”), em conjunto denominados “Canais Cinemark”, de acordo com as obrigações estipuladas pela Lei Federal nº 12.965, de 23 de abril de 2014 (“MCI”), pelo Decreto nº 8.771/16, pela Lei Federal nº 13.709, de 14 de agosto de 2018 (“LGPD”), bem como das demais leis e regulamentos aplicáveis a qualquer Tratamento de Dados Pessoais (“Legislação de Proteção de Dados Aplicável”).</p>
            <p>Quando iniciados em letras maiúsculas, os termos “Tratamento”, “Controlador(a)”, “Operador(a)”, “Titular de Dados”, “Titular” e “Dados Pessoais” terão os significados a eles atribuídos na LGPD.</p>
            <p>Essa Política de Privacidade é dividida da seguinte forma:</p>
            <ol>
                <li>Objetivo da Política de Privacidade;</li>
                <li>Dados Pessoais coletados pela Cinemark;</li>
                <li>Compartilhamento de Dados Pessoais;</li>
                <li>Bases Legais e Finalidade do Tratamento de Dados Pessoais;</li>
                <li>Forma de Armazenamento e Proteção dos Dados Pessoais;</li>
                <li>Transferência Internacional de Dados Pessoais;</li>
                <li>Direitos dos Titulares;</li>
                <li>Período de Armazenamento dos Dados Pessoais</li>
                <li>Disposição Gerais; e</li>
                <li>Informações de Contrato.</li>
            </ol>
            <span>1. Objetivo da Política de Privacidade</span>
            <p>A Cinemark preza pela segurança e confidencialidade das informações fornecidas pelos usuários nos Canais Cinemark (“Usuários”). Por esta razão, adotamos as medidas necessárias para resguardar os seus direitos, as quais podem ser encontradas nesta Política de Privacidade, que é parte integrante dos Termos e Condições de Uso (“Termos de Uso”).</p>
            <p>Essa Política de Privacidade detalha como Tratamos os Dados Pessoais e demais informações compartilhadas pelos Usuários nos Canais Cinemark e, explicita como são coletados, acessados, armazenados, utilizados, processados, transferidos e divulgados os seus Dados Pessoais, e ainda, como permitimos que o Usuário, acesse, retifique, apague ou restrinja o Tratamento desses Dados Pessoais, quando aplicável.</p>
            <p>A Cinemark se reserva o direito de modificar esta Política de Privacidade de maneira unilateral, garantido, entretanto, que os Usuários sejam devidamente notificados sobre eventuais alterações. Manteremos públicas e acessíveis quaisquer novas versões desta Política de Privacidade nos Canais Cinemark, além de disponibilizá-las ao seu e-mail cadastrado.</p>
            <span>2. Dados Pessoais Coletados pela Cinemark</span>
            <span>2.1. Informações e Dados Pessoais necessários para a criação de conta de acesso e para utilização de funcionalidades</span>
            <p>A Cinemark solicitará o fornecimento de alguns Dados Pessoais do Usuário para a finalidade de criação da sua conta de acesso dos Canais Cinemark, para adquirir ingressos online ou diretamente no PDV, para aderir ao programa de fidelidade, para usufruir os benefícios oferecidos, para adquirir os ingressos e produtos online e para o envio de informações sobre os filmes cujo interesse foi manifestado pelo Usuário no Calendário Cinemark. O Tratamento desses Dados Pessoais pela Cinemark será realizado com base na execução do contrato entre o Usuário e a Cinemark e eventualmente, para cumprimento de obrigações legais ou mediante consentimento manifestado pelo Usuário, conforme aplicável.</p>
            <p>Para tais finalidades, poderão ser coletados os seguintes Dados Pessoais do Usuário: Nome completo, CPF, Celular, Gênero, Data de Nascimento, Estado, Cidade e E-mail. Também coletaremos informações para pagamento, como seu número de cartão de crédito.</p>
            <span>2.2. Informações e Dados Pessoais que o Usuário escolhe fornecer</span>
            <p>O Usuário poderá optar por fornecer alguns Dados Pessoais para aprimorar sua experiência ao utilizar os Canais Cinemark ou para exercer suas preferências, como cadastro e recebimento de mailing, novidades e promoções, notificações por e-mail, WhatsApp e Push no App, informações adicionais em seu perfil e preferências de gêneros de filmes. Essas informações e Dados Pessoais serão tratados com base no legítimo interesse ou consentimento (no caso do Calendário Cinemark), sendo cabível ao Usuário o opt-out do recebimento de mailing e informações adicionais de preferência</p>
            <span>2.3. Informações e Dados Pessoais coletados durante a utilização dos Canais da Cinemark</span>
            <p>A Cinemark poderá coletar informações de navegação, dados de comportamento ou Dados Pessoais, como o endereço de IP de origem do Usuário, de forma automatizada para a aprimorar nossos serviços e a utilização de funcionalidades que beneficiem os Usuários, de acordo com os interesses legítimos da Cinemark.</p>
            <p>A Cinemark utiliza cookies, que são pequenos arquivos de texto armazenados que podem ser acessados posteriormente para verificar informações de navegação. As categorias de cookies utilizadas pelo Cinemark são: (i) cookies necessários; (ii) cookies analíticos; (iii) cookies de identificação e funcionalidade; (iv) cookies de desempenho; (v) cookies de publicidade e direcionamento; e (v) cookies de terceiros. Abaixo, descrevemos suas principais funcionalidades:</p>
            <ul>
                <li>(i) Os cookies necessários utilizarão as informações necessárias para garantir o funcionamento dos Canais Cinemark, como por exemplo, para prevenir fraudes. Os cookies necessários não coletam Dados Pessoais para fins de marketing.</li>
                <li>(ii) Os cookies analíticos coletam dados das páginas mais visitadas pelo Usuário dos Canais Cinemark e os padrões de utilização do Usuário para fins estatísticos, sem identificá-lo. Por essa razão, algumas dessas funcionalidades não podem ser desabilitadas ou rejeitadas, a fim de garantir o funcionamento adequado dos Canais Cinemark.</li>
                <li>(iii) Os cookies de identificação e funcionalidade permitem armazenar as preferências do Usuário e customizar sua experiência na utilização dos Canais Cinemark e poderão ser desabilitados no navegador de Internet do Usuário. É possível que as seleções e bloqueios de cookies realizados afetem o funcionamento da experiência e navegação do Usuário.</li>
                <li>(iv) Os cookies de desempenho possibilitam que a Cinemark obtenha informações, geralmente anonimizadas, sobre a utilização dos Canais Cinemark, como o número de Usuários e visitantes de uma página e como esses Usuários chegaram até os Canais Cinemark.</li>
                <li>(v) Os cookies de publicidade e direcionamento permitem a exibição de anúncios e campanhas publicitárias de acordo com o perfil e utilização dos Canais Cinemark pelo Usuário,</li>
                <li>(vi) Os cookies de terceiros são habilitados pela Cinemark para promover os serviços dos Canais Cinemark, de acordo com a previsão desta Política de Privacidade.</li>
            </ul>
            <p>O Usuário pode alterar as configurações para bloquear cookies ou alertá-lo quando um cookie estiver sendo enviado para seu dispositivo nas configurações de seu navegador de Internet. Existem várias formas de gerenciar cookies. Consulte as instruções do seu navegador ou a seção de ajuda para saber mais sobre como ajustar ou alterar as configurações do seu navegador. A seguir, disponibilizamos links de alguns navegadores que podem ser utilizados para que o Usuário saiba como alterar a configuração de cookies em tais navegadores: Firefox | Cookies, Safari | Cookies, Chrome | Cookies e Microsoft | Cookies.</p>
            <p>Desabilitar os cookies que utilizamos pode impactar sua experiência nas Plataformas Cinemark, por exemplo, você talvez não possa visitar certas áreas das Plataformas Cinemark ou talvez não receba informações personalizadas quando visitá-las.</p>
            <p>Caso você use dispositivos diferentes para visualizar e acessar as Plataformas Cinemark deve assegurar-se de que cada navegador de cada dispositivo está ajustado para atender suas preferências quanto aos cookies.</p>
            <p>A Cinemark também utiliza a tecnologia de geolocalização em seu App, por meio de tecnologia de propriedade da BLP Desenvolvimento De Software Ltda (“Flowsense”), que permite o recebimento de informações sobre as visitas aos estabelecimentos comerciais da Cinemark, sem identificar o diretamente o Usuário, para fins de exibição de anúncios personalizados, envio de mensagens contextualizadas via push (compatíveis com a sua localização) e a validação de endereço automatizada. Neste caso, a coleta da sua geolocalização somente ocorrerá se você permitir, a partir das configurações de seu dispositivo.</p>
            <p>Os Canais Cinemark podem conter links para Sites de terceiros, que não estão sujeitos às disposições desta Política de Privacidade. É recomendado que os Usuários consultem as políticas de privacidade de terceiros antes de interagir com os seus Sites</p>
            <p>Os Dados Pessoais coletados pela Cinemark serão armazenados de forma segura e, quando não forem mais necessários, serão descartados, a menos que seu armazenamento seja exigido para cumprimento das obrigações de leis locais e nacionais aplicáveis ou para o exercício regular dos direitos da Cinemark.</p>
            <span>2.3. Informações e Dados Pessoais coletados durante a utilização dos Canais da Cinemark</span>
            <p>A Cinemark poderá coletar informações e Dados Pessoais dos Usuários a partir de terceiros, por exemplo, mediante acesso dos Usuários a partir de serviços prestados por terceiros (e.g. integração com o Facebook), de fornecedores terceiros para prevenção e detecção de fraudes em transações financeiras, para mensurar as interações dos Usuários e visitantes dos Canais Cinemark com os anúncios publicados, entre outros.</p>
            <p>Para que o Usuário usufrua das funcionalidades do Calendário Cinemark (avisos relativos aos filmes de seu interesse e outras novidades da Cinemark), a Cinemark coletará, por meio empresa contratada para a administração do site Calendário Cinemark, dados básicos de cadastro e dados sobre as escolhas do Usuário.</p>
            <p>A Cinemark tratará os Dados Pessoais apenas para o cumprimento das finalidades descritas e de acordo com as disposições legais aplicáveis ao Tratamento.</p>
            <span>3. Compartilhamento de Dados Pessoais</span>
            <p>Os Dados Pessoais coletados durante a utilização dos Canais serão compartilhados com os seguintes terceiros:</p>
            <p><strong>a) Meios de pagamento:</strong> A Cinemark poderá contratar terceiros, como gateways de pagamento ou carteiras digitais, para a intermediação dos pagamentos realizados nos Canais Cinemark. Apenas os Dados Pessoais estritamente necessários serão compartilhados com terceiros, com o objetivo de realizar o processamento do pagamento em favor da Cinemark.</p>
            <p><strong>b) Antifraude:</strong> A Cinemark poderá utilizar serviços de terceiros para validar as informações fornecidas pelos Usuários a fim de evitar transações fraudulentas.</p>
            <p><strong>c) Infraestrutura e Armazenamento:</strong> A Cinemark utiliza serviços de armazenamento em nuvem, com nível adequado de segurança da informação, para disponibilização dos Canais Cinemark.</p>
            <p><strong>d) Cashback:</strong> A Cinemark poderá compartilhar com a Méliuz o número do celular dos clientes cadastrados no aplicativo, que efetuarem compras de ingresso por ele, com a finalidade de informar o parceiro, para disponibilização de cashback nas compras de ingressos realizadas neste canal. Os valores e a responsabilidade do crédito são de responsabilidade da Meliuz.</p>
            <p><strong>e) Obrigações legais e/ou Exercício regular de direitos:</strong> A Cinemark poderá compartilhar os Dados Pessoais com organizações públicas ou privadas com o objetivo de dar cumprimento às obrigações legais ou exercer seus direitos perante terceiros, nos termos do art. 7º, incisos II e VI.d) Empresa Administradora dos Canais Cinemark: A Cinemark poderá compartilhar Dados Pessoais cadastrais dos Usuários com empresas que gerem suas plataformas, para integração entre os Canais Cinemark.</p>
            <p>A Cinemark poderá receber Dados Pessoais de Clientes dos Parceiros responsáveis por programas de ofertas de benefícios, para obter ofertas relacionadas à ingressos e/ou produtos exclusivos da Cinemark. Os Dados Pessoais compartilhados pelo Parceiro com a Cinemark serão utilizados exclusivamente para a finalidade de confirmar a validade da oferta do Parceiro ao Cliente. O Cliente deverá consultar a Política de Privacidade do Parceiro caso tenha alguma dúvida sobre o compartilhamento dos seus Dados Pessoais e caso não tenha interesse em fazer parte do Programa de benefícios do Parceiro, deverá realizar o opt-out diretamente nas comunicações e canais oficiais do Parceiro.</p>
            <span>4. Bases Legais e Finalidades para o Tratamento de Dados Pessoais</span>
            <p><strong>Execução de contrato ou procedimentos preliminares e proteção ao crédito:</strong></p>
            <ol>
                <li>Criação de conta na Cinemark;</li>
                <li>Adesão ao Programa de Fidelidade da Cinemark;</li>
                <li>Cadastro no mailing e newslletter;</li>
                <li>Recebimento de informação sobre novovs lançamentos de filmes e produtos;</li>
                <li>Coleta e processamento de pagamentos, incluindo o processamento de pagamentos em cartão de crédito;</li>
                <li>Faturamento e cobrança dos pedidos;</li>
                <li>Fornecimento de atendimento pós-venda ao Usuário que desejar informações ou providências, bem como outras funções de gerenciamento de relacionamento com Usuário;</li>
                <li>Resolução de questionamentos ou reclamações;e </li>
                <li>Resolução de disputas.</li>
            </ol>
            <p><strong>Legítimo interesse:</strong></p>
            <ol>
                <li>Melhora da performance dos Canais Cinemark;</li>
                <li>Utilização de cookies e funcionalidades de coleta de informações e Dados Pessoais, como endereço de IP;</li>
                <li>Criação de relatórios de uso internos para o desenvolvimento de novos serviços e conteúdo e aprimoramento dos serviços já oferecidos pelos Canais Cinemark;</li>
                <li>Realização de procedimento internos de gerenciamento e de negócios, por exemplo, contabilidade, auditorias, gerenciamento de dados principais, verificação antifraude e de crédito;</li>
                <li>Marketing e publicidade direta dos Usuários;</li>
                <li>Exibiçãoo de conteúdo personalizado.</li>
            </ol>
            <p><strong>Cumprimento de obrigação legal e exercício regular de direitos em processo:</strong></p>
            <p>Quando necessário para cumprir as obrigações legais aplicáveis, inclusive com relação aos relatórios financeiros e regulamentares, relatórios de eventos adversos e obrigações fiscais, relatórios de auditorias, entre outros ou para fins de exercício regular de direito em processo judicial, administrativo ou arbitral.</p>
            <p><strong>Consentimento:</strong></p>
            <p>Quando o Usuário manifestar seu interesse ativamente quanto ao recebimento de comunicações tais como newsletters, ofertas, destaques da semana, programas de fidelidade no momento de cadastro no Calendário Cinemark.</p>
            <span>5. Forma de Armazenamento e Proteção dos Dados Pessoais</span>
            <p>Para mitigar os riscos envolvendo a perda ou uso indevido dos Dados Pessoais, adotamos medidas técnicas e organizacionais para garantir um nível de segurança compatível com as atividades realizadas pela Cinemark, a saber:</p>
            <ul>
                <li>Utilização do protocolo TLS (Transport Layer Security) para o processamento de Dados Pessoais e informações no Site e no App;</li>
                <li>Criptografia; e</li>
                <li>Controle de acesso aos Dados Pessoais Tratados pelos Canais Cinemark.</li>
            </ul>
            <p>É importante destacar que nenhum Tratamento de informações ou Dados Pessoais é completamente seguro, sendo passível da exploração de brechas e vulnerabilidades por terceiros. Caso exista alguma suspeita de violação das regras desta Política de Privacidade, entre em contato conosco imediatamente pelo canal de contato indicado no item 10 abaixo.</p>
            <span>6. Transferência Internacional de Dados Pessoais</span>
            <p>Sendo uma empresa internacional, a Cinemark poderá transferir os seus Dados Pessoais para servidores localizados fora do Brasil, por exemplo, servidores localizados nos Estados Unidos da América, para fins de execução do contrato com o Usuário, nos termos do art. 33, inciso IX da LGPD. Nesses casos, a Cinemark adotará as medidas necessárias para garantir que os Dados Pessoais transferidos a destinatários em países diferentes do seu país recebam um nível adequado de proteção conforme exigido pelas Leis de Proteção de Dados Aplicáveis</p>
            <span>7. Direitos dos Titulares</span>
            <p>Ao utilizar os Canais Cinemark e fornecer os seus Dados Pessoais, o Usuário terá os seguintes direitos em relação aos seus próprios Dados Pessoais previstos em lei:</p>
            <ul>
                <li>a) Acesso aos Dados Pessoais: Ter ciência das informações e Dados Pessoais Tratados pelos Canais Cinemark;</li>
                <li>b) Correção: Solicitar a correção dos Dados Pessoais armazenados pelos Canais Cinemark;</li>
                <li>c) Exclusão do Cadastro: Solicitar a exclusão do cadastro realizado nos Canais Cinemark. Neste caso, é possível que alguns Dados Pessoais permaneçam armazenados para cumprimento das obrigações legais ou para exercício dos direitos da Cinemark;</li>
                <li>d) Revogação do Consentimento: Revogar o consentimento fornecido para algumas funcionalidades, por meio do opt-out;</li>
                <li>e) Portabilidade: Solicitar a portabilidade dos Dados Pessoais em formato interoperável (informado pela Cinemark), como um arquivo txt;</li>
                <li>f) Revisão das Decisões Automatizadas: Solicitar a revisão de uma decisão exclusivamente automatizada e que afeta seus interesses.</li>
            </ul>
            <p>Caso seja necessário, entre em contato pelo canal informado no item 10 abaixo para o exercício dos direitos previstos nesta Política de Privacidade. Para que a Cinemark possa analisar e atender o seu pedido, é necessária a comprovação da identidade do Usuário titular de Dados Pessoais e/ou de seu representante legal, razão pela qual um documento de identificação com foto e a procuração (caso aplicável) deverão ser enviados. Esta é uma medida de segurança para garantir que os Dados Pessoais não sejam divulgados a qualquer pessoa que não tenha direito de recebê-los.</p>
            <span>8. Período de Armazenamento dos Dados Pessoais</span>
            <p>Os Dados Pessoais de um determinado Usuário coletados pela Cinemark serão armazenados durante o período de cadastro de referido Usuário nos Canais Cinemark e para atingimento das finalidades descritas nesta Política de Privacidade, respeitando os prazos legais de guarda dos Dados Pessoais após esse período, conforme necessário para que a Cinemark possa cumprir com as suas obrigações contratuais ou legais ou se defender em um processo judicial ou administrativo.</p>
            <span>9. Disposições Gerais</span>
            <p>A Cinemark se reserva o direito de modificar esta Política de Privacidade de maneira unilateral, garantido, entretanto, que você seja notificado sobre tais alterações. Manteremos públicas e acessíveis quaisquer novas versões desta Política de Privacidade em nossos Canais Cinemark.</p>
            <span>10. Informações de Contato</span>
            <p>Caso tenha alguma dúvida com relação a nossa Política de Privacidade ou sobre como Tratamos os seus Dados Pessoais, por favor, entre em contato conosco através do formulário de atendimento no endereço https://sac.cinemark.com.br/hc/pt-br</p>
            <p>Encarregado de Proteção de Dados: Comitê de Privacidade.</p>
        </section>
    </main>
    <footer>
        <div class="rodape">
            <ul class="ul-rodape">
                <h3><li class="lider">Localização</li></h3>
                <li>Av. Olavo de Carvalho, 110</li>
                <li>Campinas, São Paulo</li>
                <li>CEP: 15780-860</li>
            </ul>

            <ul class="ul-rodape">
                <h3><li class="lider">Contato</li></h3>
                <li>Telefone: (14) 3030-4040</li>
                <li>Email: contato@cinema.com.br</li>
            </ul>
        </div>
        <hr>
        <div class="rodape-copy">
            <div id="copy-rodape"><span>&copy;2024 Cinema. Todos os direitos reservados</span></div>
            <a href="/politica_priv" target="_self" class="rodape-2">POLÍTICA DE PRIVACIDADE</a>
            <a href="/termo_uso" target="_self" class="rodape-2">TERMO DE USO</a>
        </div>
    </footer>
</body>
</html>